.Toolbar {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 1.875%;
  max-height: 300px;
  flex-grow: 1;
}

.ToolbarButtonGroup {
  display: flex;
  flex-direction: column-reverse;
  gap: 3.5%;
  width: 20%;
  height: 100%;
}

.ToolbarButton {
  font-size: 2rem;
  
  &.Active {
    border: 5px solid #5a594e;
  }

  &.Locked {
    opacity: 0.25;
  }
}
