.Toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ToolbarButton {
  width: 120px;
  margin: 15px;

  &.Active {
    border: 3px solid #5a594e;
  }

  &:first-child {
    margin-left: 20px;
  }

  &:last-child {
    margin-right: 20px;
  }
}
