html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 2dvh;
}

.App {
    max-width: 800px;
    height: 96dvh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}