:root {
    --purple: #ba81c5;
    --yellow: #f9df6d;
    --green: #a0c35a;
    --blue: #b0c4ef;
}

@property --bg-left {
    syntax: "<color>";
    inherits: false;
    initial-value: #efefe6;
}

@property --bg-right {
    syntax: "<color>";
    inherits: false;
    initial-value: #efefe6;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-grid {
    display: flex;
    flex-direction: column
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#color-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item,
button {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.item {
    --bg-left: #efefe6;
    --bg-right: #efefe6;
    width: 150px;
    margin: 20px;
    background: linear-gradient(155deg, var(--bg-left) 50%, var(--bg-right) 50%);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: --bg-left 0.2s ease-in-out, --bg-right 0.2s ease-in-out;
}

button {
    --bg-left: rgb(239, 239, 239);
    width: 120px;
    margin: 15px;
    border: none;
    background-color: var(--bg-left);
}

button:first-child {
    margin-left: 20px;
}

button:last-child {
    margin-right: 20px;
}

button.active {
    border: 3px solid #5a594e;
}

.purple {
    --bg-left: var(--purple);
    --bg-right: var(--purple);
}

.green {
    --bg-left: var(--green);
    --bg-right: var(--green);
}

.blue {
    --bg-left: var(--blue);
    --bg-right: var(--blue);
}

.yellow {
    --bg-left: var(--yellow);
    --bg-right: var(--yellow);
}

.purple.yellow {
    --bg-left: var(--purple);
    --bg-right: var(--yellow);
}
.purple.green {
    --bg-left: var(--purple);
    --bg-right: var(--green);
}
.purple.blue {
    --bg-left: var(--purple);
    --bg-right: var(--blue);
}
.blue.yellow {
    --bg-left: var(--blue);
    --bg-right: var(--yellow);
}
.blue.green {
    --bg-left: var(--blue);
    --bg-right: var(--green);
}
.green.yellow {
    --bg-left: var(--green);
    --bg-right: var(--yellow);
}